.title{
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 30vh;
    font-size: 2rem;
}

.villa{
    background-color: #1a6985;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    clip-path: polygon(0% 10%, var(--clip-path-top) 0%, 100% 0%, 100% 90%, var(--clip-path-bottom) 100%, 0% 90%);
    overflow: hidden;
    padding: 50px;

}

.villa img{
    max-width: 80%;
    height: auto; 
    display: block;
    margin: 0 auto; 
    padding: 25px;
}
.villa .villaContent a{

    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    height: 20px;
    display: flex;
    align-items: center;
    justify-self: end;
    margin: 0;

}

.villa .vInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30px;
    font-size: 12px;
    color: #fff;
}

.villaContent {
    display: grid;
    padding: 50px;
    grid-template-rows: 1fr 2fr 1fr;
    gap:65px;
}

.villa .villaContent h2{
    color: #fff;
    font-size: 1.5rem;
}

.villaContent p{
    color: #fff;
}

.villa2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    overflow: hidden;
    padding: 50px;

}

.villa2 img{
    max-width: 80%;
    height: auto; 
    display: block;
    margin: 0 auto; 
    padding: 25px;
}

.villa2 .villaContent a{

    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    height: 20px;
    display: flex;
    align-items: center;
    justify-self:baseline;
    margin: 0;

}

.villa2 .villaContent h2{
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-self:end;
    margin: 0;
}