
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    width: 90%; 
    margin: 0 auto; 
  }
  
  .gallery img {
    width: 100%; 
    height: auto;
  }

  .gallery img:hover {
    transform: scale(1.02);
    border:3px solid #fff;
    cursor: pointer;
    
  }

  .title {
    padding: 35px 100px; 
    box-sizing: border-box; 
  }
  .title h2{
    color: #fff;
    font-size: 2.5rem;
  }

  @media(max-width: 992px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media(max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
  }