.title {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  font-size: 2rem;
}

.infoH,
.infoL {
  background-color: #1a6985;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  clip-path: polygon(0% 10%, 20% 0%, 100% 0%, 100% 90%, 60% 100%, 0% 90%);
  padding: 50px;
  max-width: 100%;
  overflow-x: hidden;
}
.infoN {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 50px;
  max-width: 100%;
  overflow-x: hidden;
}

.infoH h2,
.infoN h2,
.infoL h2 {
  color: #fff;
  font-size: 2rem;
}

.infoH img,
.infoN img,
.infoL img {
  max-width: 700px;
  max-height: 600px;
  height: auto;
  display: block;
  flex-grow: 3;
  margin: 0 auto;
  padding: 25px 150px 25px 50px;
}

.subInfo {
  color: #fff;
  padding: 30px 100px;
  transition: 0.3s ease;
}

.subInfo h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.subInfo p {
  width: fit-content;
  font-size: 1rem;
}

@media (max-width: 1600px) {
  .infoH,
  .infoL {
    flex-direction: column-reverse;
  }
  .infoN {
    flex-direction: column;
  }
  .infoH h2 {
    order: 2;
  }
  .infoH img {
    order: 1;
    padding: 0;
    padding-bottom: 20px;
  }
  .subInfo {
    padding: 20px 0;
    text-align: center;
  }
  .subInfo h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

@media (max-width: 1350px) {
  .infoH img,
  .infoN img,
  .infoL img {
    max-width: 600px;
    max-height: 400px;
    padding: 0;
    padding-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .title {
    height: 30vh;
    font-size: 1.5rem;
  }
  .infoH img,
  .infoN img,
  .infoL img {
    position: relative;
    width: min-content;
    display: block;
    margin: 0;
    object-fit: cover;
    padding: 0;
  }
  .subInfo {
    padding: 20px 0;
    text-align: justify;
  }
  .subInfo p {
    font-size: 1rem;
    padding-bottom: 10px;
  }
}
