.title {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  font-size: 2rem;
}
.villaContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: hidden;
  padding: 50px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.villaDescription {
  color: #fff;
}
.optionsContainer {
  color: #fff;
  font-weight: bold;
  display: flex;
  gap: 40px;
}
.optionsContainer input {
  background-color: #202834;
  border: none;
  border-bottom: solid 1px #fff;
  border-radius: 2px;
  color: #fff;
}
.optionsContainer select {
  background-color: #202834;
  border: none;
  border-bottom: solid 1px #fff;
  border-radius: 2px;
  color: #fff;
}
.extras ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 100px;
  gap: 15px;
  color: #fff;
}
@media (max-width: 1400px) {
  .villaContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 750px) {
  .title {
    height: 20vh;
    font-size: 1.3rem;
    
  }
  .info {
    width: 400px;
    justify-content: center;
    align-items: center;
  }
  .optionsContainer {
    flex-wrap: wrap;
  }
  .extras ul {
    max-height: 150px;
    justify-content: center;
    padding: 0;
  }
}
@media (max-width: 530px) {
  .info {
    width: 300px;
  }
  .optionsContainer {
    flex-wrap: wrap;
  }
  .extras ul {
    max-height: 150px;
    justify-content: center;
    padding: 0;
  }
}
