.villa:nth-child(odd) {
  background-color: #1a6985;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  clip-path: polygon(
    0% 10%,
    var(--clip-path-top) 0%,
    100% 0%,
    100% 90%,
    var(--clip-path-bottom) 100%,
    0% 90%
  );
  padding: 50px;
  max-width: 100%;
  overflow-x: hidden;
}

.villa:nth-child(odd) .vInfo {
  display: flex;
  align-items: center;
  gap: 65px;
  height: 30px;
  font-size: 12px;
  color: #fff;
}

.villa:nth-child(odd) .villaContent {
  display: flex;
  flex-direction: column;
  padding: 50px;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 65px;
}

.villa:nth-child(odd) .villaContent h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.villa:nth-child(odd) .villaContent p {
  color: #fff;
  width: fit-content;
}
.villa:nth-child(even) .villaContent p {
  color: #fff;
  width: fit-content;
}

.villa:nth-child(even) {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  overflow: hidden;
  padding: 50px;
  max-width: 100%;
  overflow-x: hidden;
}

.villa:nth-child(even) .vInfo {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 12px;
  color: #fff;
  gap: 65px;
}

.villa:nth-child(even) .villaContent {
  display: flex;
  flex-direction: column;
  padding: 50px;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 65px;
  order: 2;
}

.villa:nth-child(even) .villaContent h2 {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-self: end;
  margin: 0;
}

.villa img {
  max-width: 700px;
  max-height: 600px;
  height: auto;
  display: block;
  flex-grow: 3;
  margin: 0 auto;
  padding: 25px 150px 25px 50px;
}

.vInfo div {
  display: flex;
  flex-direction: row;
  gap: 65px;
}
.bookBtn {
  text-decoration: none;
  background-color: orange;
  color: #fff;
  padding: 8px 20px 8px 20px;
  margin: 0;
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
}

@media (max-width: 1600px) {
  .villa:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .villa:nth-child(even) {
    flex-direction: column;
  }

  .villaContent {
    justify-content: center;
    align-items: center;
  }
  .villaContent .vInfo {
    padding: 0;
    padding-bottom: 40px;
    text-align: center;
    justify-content: center;
  }
  .info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .villaContent h2 {
    text-align: center;
    justify-content: center;
  }
  .vInfo h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 0;
  }
}

@media (max-width: 1350px) {
  .villa img {
    max-width: 500px;
    max-height: 300px;
    padding: 0;
    padding-top: 30px;
  }
}

@media (max-width: 700px) {
  .title {
    height: 30vh;
    font-size: 1.5rem;
  }
  .villa img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    padding: 0;
    padding-top: 50px;
  }

  .info p {
    align-items: center;
    justify-content: center;
  }
  .villa:nth-child(odd) .vInfo {
    text-align: center;
    flex-direction: column;
    gap: 30px;
  }
  .villa:nth-child(even) .vInfo {
    text-align: center;
    flex-direction: column;
    gap: 30px;
  }
  .vInfo p {
    font-size: 1rem;
  }
  .bookBtn {
    padding:8px 60px 8px 60px;
  }
}
@media (max-width: 400px) {
  .bookBtn {
    padding:8px 50px 8px 50px;
  }
}
